<div id="games">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Take a look at some games</h2>
        
        <!-- begin timetab -->
        <div id="timetab">
          <ul>
            <li id="pasttab"
                ng-click="gamesCtrl.select(0, 'content')"
                ng-class="gamesCtrl.isSelected(0, 'content', 'selected', '')">
              Past
            </li>
            <li id="prestab"
                ng-click="gamesCtrl.select(1, 'content')"
                ng-class="gamesCtrl.isSelected(1, 'content', 'selected', '')">
              Future
            </li>
          </ul>
        </div>
        <!-- end timetab -->

        <!-- begin tablegames -->
        <div id="tablegames" class="">
          <div class="row">

            <!-- begin details -->
            <div id="details" class="col-md-7">
              <div class="bg"></div>
              <div class="content">
                <img id="result" ng-src="{{ gamesCtrl.match.image }}">
              </div>
            </div>
            <!-- end details -->

            <!-- begin matches -->
            <div id="matches" class="col-md-5">
              <ul>
                <li ng-repeat="x in gamesCtrl.matches"
                    ng-class="gamesCtrl.isSelected($index, 'match', 'selected', '')"
                    ng-click="gamesCtrl.select($index, 'match')"
                    ng-show="gamesCtrl.hasTime(x)">
                  <div class="row">
                    <div ng-class="gamesCtrl.isSelected(1, 'content', 'col-md-10', 'col-md-12')">
                      <div class="teams">
                        <div class="team">
                          <img class="shield" ng-src="{{ x.home.logo }}">
                          {{ x.home.name }}
                          <span ng-show="gamesCtrl.isSelected(0, 'content', true, false)">{{ x.homeGoals }}</span>
                        </div>
                        <div class="team">
                          <img class="shield" ng-src="{{ x.away.logo }}">
                          {{ x.away.name }}
                          <span ng-show="gamesCtrl.isSelected(0, 'content', true, false)">{{ x.awayGoals }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="predict"
                           ng-click="gamesCtrl.showBetgram(x)"
                           ng-show="gamesCtrl.isSelected(1, 'content', true, false)">
                        <object
                                ng-click="gamesCtrl.showBetgram(x)"
                                type="image/svg+xml"
                                data="src/assets/img/logo.svg">
                        </object>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- end matches -->
          </div>
        </div>
        <!-- end tablegames -->
      </div>
    </div>
  </div>

  <!-- begin answer -->
  <div answer-directive="gamesCtrl.betgram" ng-if="gamesCtrl.betgram"></div>
  <!-- end answer -->
</div>